# Lingkungan Virtual Python
venv/
env/
__pycache__/
*.py[cod]

# Variabel Lingkungan (Sandi/Kunci API)
.env

# Model IndoBERT (SANGAT PENTING: Jangan di-upload ke Git!)
model_final_siap_pakai/
*.bin
*.pt
*.h5
*.safetensors

# Dataset CSV
*.csv